body {
        background-color: #fcba03;
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 16px;
        height: 100%;
        margin: 0;
        padding: 0;
        text-align: center;
    }

header {
        background-color: #e68b02;
        color: #fff;
        padding: 20px;
        text-align: center;
    }

h1 {
        font-size: 36px;
    }


h2 {
        font-size: 24px;
    }

h3 {
        font-size: 20px;
    }

p {
        margin: 10px 0;
    }


ul, ol {
        margin: 10px 0;
        text-align: left;
    }

img {
        max-width: 100%;
        height: auto;
    }

.content {
        padding: 20px;
    }

.links a {
    text-decoration: none;
    color: #d18f00; 
    }

.links a:hover {
    text-decoration: underline; 
    color: #990000; 
    }
    
footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 10px;
    }

