body {
    background-color: #f5a442;
    color: #666;
    font-family: Impact, sans-serif;
    font-size: 18px;
    height: 90%;
    margin: 1;
    padding: 2;
    text-align: center;
}

header {
    background-color: #ffb82b;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

p {
    margin: 10px 0;
}

ul, ol {
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    padding: 20px;
}

.links {
    text-align: center;
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
